<html>
	<head>
	  <title>FastFood</title>
	</head>
	<body>
		<h1>Fast Food!</h1>

		<form method="Post">
			<input name="name_text" id="id_new_name" placeholder="Enter your name">
			<input name="order_text" id="id_new_order" placeholder="Enter your order">
			<input type="submit" value="Submit">
			{% csrf_token%}
		</form>


		<table id="id_order_table">
			{% for item in display_list %}
			<tr><td>{{ forloop.counter }}: {{ item }}</td></tr>
			{% endfor %}
		</table>

	<body>
</html>